Server: Netscape-Communications/1.1
Date: Tuesday, 14-Jan-97 19:46:05 GMT
Content-type: text/html



The Computer Science Curriculum

MILLERSVILLE UNIVERSITY
               Computer Science
	       Curriculum








You can find the 
Course Descriptions


for each Computer Science course.




THE CORE REQUIREMENTS:

The objective of the core requirements is to provide you with the skills that are considered to be fundamental to a sound background in computer science.  This includes grounding in various aspects of programming, computer organization, and the legal and ethical issues that are affected by computer applications.  In addition, a thorough background in mathematics and computer science theory provide a strong analytic component, as well as providing many useful concepts of interest to computer programmers.
Computer Science Courses:



CSCI 151 - Discrete Structures I
3 s.h.


CSCI 161 - Introduction to Computing I 
4 s.h.


CSCI 162 - Introduction to Computing II 
4 s.h.


CSCI 226 - Computer Organization I 
 3 s.h.


CSCI 351 - Discrete Structures II 
3 s.h.


CSCI 352 - Data Structures 
 3 s.h.


CSCI 370 - Computer Organization II 
 3 s.h.


CSCI 410 - Social Consequences of Computers 
3 s.h.


TOTAL
26 s.h.





ADVANCED COMPUTER SCIENCE COURSE REQUIREMENTS:

The student is required to select a total of 12 s.h. from the courses below, 6 s.h. from the "Systems and Theory" group and 6 s.h. from the "Applied Computer Science" group.
Systems and Theory:



CSCI 331 - Structure of Programming Languages
3 s.h.


CSCI 360 - Real Time Systems
3 s.h.


CSCI 382 - Operating Systems 
3 s.h.


CSCI 423 - Systems Programming 
3 s.h.


CSCI 431 - Principles of Compiler Design I 
 3 s.h.


CSCI 432 - Principles of Compiler Design II 
3 s.h.


CSCI 460 - Theory of Computation 
 3 s.h.


CSCI 465 - Analysis of Algorithms 
 3 s.h.

TOTAL
6 s.h.



Applied Computer Science:



CSCI 343 - Systems Analysis
3 s.h.


CSCI 373 - Computer Graphics 
3 s.h.


CSCI 390 - Data Communications 
3 s.h.


CSCI 445 - Database Management Systems 
 3 s.h.


CSCI 451 - Artificial Intelligence 
3 s.h.


CSCI 455 - Robot Vision 
 3 s.h.


CSCI 458 - Expert Systems 
 3 s.h.

TOTAL
6 s.h.






The following two courses may also be used in the "Systems and Theory" and "Applied Computer Science" groups above. 




CSCI 406 - Topics in Computer Science
3 s.h.


 CSCI 498 - Independent Study 
 3 s.h.



 
A determination whether a particular offering of CSCI 406 or CSCI 498 counts as "Systems" or "Applied" is made by the Department based on course content.  Your advisor can provide this information to you.




DEPARTMENTALLY REQUIRED-RELATED COURSES

Mathematics Courses:




MATH 161 - Calculus I
4 s.h.


MATH 162 - Calculus II
4 s.h.


MATH 235 - Survey of Statistics
3 s.h.


PHIL312 or MATH 220 or MATH XXX
3-4 s.h.


(where XXX > 220 but not 301,314,315)
.


TOTAL
14-15






*Students usually begin with either MATH 161 or MATH 160 (Elementary Functions) based upon  the results of a Mathematics Placement Test administered to incoming students.

Natural/Physical Sciences:


BIOL 100 General Biology 
AND one of the following:


BIOL 211 - Concepts of Zoology
4 s.h.


BIOL 221 - Concepts of Botany
4 s.h.


BIOL 263 - Cell Biology
4 s.h.



OR


CHEM 111 - Intro Chemistry I
4 s.h.


CHEM 112 - Intro Chemistry II
4 s.h.



OR


PHYS 231 - General Physics I
5 s.h.


PHYS 232 - General Physics II
5 s.h.



OR


ESCI 221 - Physical Geology
4 s.h.


ESCI 222 - Historical Geology
4 s.h.



OR


ESCI 241 - Meteorology
4 s.h.


ESCI 261 - Intro to Ocean
4 s.h.



OR


ESCI 241 - Meteorology
4 s.h.


ESCI 245 - Env Meteorlogy
4 s.h.







ADDITIONAL REQUIRMENTS

Every Computer Science major is required to complete ENGL 312 TECHNICAL WRITING. 

Students who intend to pursue graduate study in computer science MAY complete a total of 15 s.h. of additional Advanced CSCI Electives ("Systems" and "Applied" courses) and advanced MATH courses (200-400 level) approved by the academic advisor combined with a maximum of 6 s.h. chosen from the courses below.




CSCI 200 - Cooperative Education
 3 s.h. 


CSCI 300 - Cooperative Education
 3 s.h. 







REQUIREMENTS FOR B.S. DEGREE


There are two components of the B.S. degree in computer science.  The first is the core, which all computer science majors must take.  The second is an elective section, in which each major selects four courses, based on personal interest and career goals, from among advanced topics in computer science.  This allows students to tailor their course work to their own needs, while ensuring that every student receives the same fundamental background in certain important areas of computer science.

Before being admitted to the next computer science or mathematics course in a sequence, a grade of "C" or better must be earned in every prerequisite course.



Graph of MU Computer Science Requirements.

 
	Main Computer Science Page.




